.form{
    border: 2px solid rgb(86, 84, 84);
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(7, 70, 83, 0.174);

    
}
.form label{
    margin: 10px;
}
.form button{
    margin-top: 20px;
}